In [2]:


# 测试代码
matrix = [[4, 5, 2],
          [9, 3, 8],
          [1, 7, 6]]

输出 [1, 3, 2]

[1, 3, 2]

In [4]:
import pandas as pd

# 创建示例 DataFrame A 和 B
A = pd.DataFrame({'A1': [1, 2, 3],
                  'A2': [4, 5, 6]})

B = pd.DataFrame({'B1': [7, 8, 9]})

# 找到 B 中一列最大值的索引
max_index = B.idxmax()

# 根据索引找出 A 中对应位置的值
result = A.loc[max_index]

# 输出结果
print(result)

   A1  A2
2   3   6

In [5]:
A.drop(max_index)

   A1  A2
0   1   4
1   2   5