In [4]:
str_1 = (-5.864812556441592,'age')
print(str_1[0])

-5.864812556441592